.dark-primary-btn {
    padding: 16px 32px !important;
    background-color: $dark-primary !important;
    border: 0px !important;
    border-radius: 0px !important;
    font-family: "Satoshi", sans-serif !important;
    font-size: 16px !important;
    line-height: 150% !important;

    &:hover{
        background-color: $secondary !important;
    }
}

.dark-primary-btn-disable{
    padding: 16px 32px !important;
    background-color: $secondary !important;
    border: 0px !important;
    border-radius: 0px !important;
    font-family: "Satoshi", sans-serif !important;
    font-size: 16px !important;
    line-height: 150% !important;

    &:hover{
        background-color: $secondary !important;
    }

}