h1 {
  font-family: "Clash Display", sans-serif;
  font-size: 36px;
  line-height: 150%;
}

h2 {
  font-family: "Clash Display", sans-serif;
  font-size: 32px;
  line-height: 150%;
}

h3 {
  font-family: "Clash Display", sans-serif;
  font-size: 24px;
  line-height: 150%;
}

h4 {
  font-family: "Clash Display", sans-serif;
  font-size: 20px;
  line-height: 150%;
}

h5 {
  font-family: "Clash Display", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

h6 {
  font-family: "Clash Display", sans-serif;
  font-size: 14px;
  line-height: 150%;
}

p {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.sm-font-body {
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.md-font-body {
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.lg-font-body {
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 150%;
}
