.home {
  .products {
    padding-left: 400px;
    padding-top: 100px;
  }
}

.product {
  color: $dark-primary;

  h4 {
    font-weight: 400;
  }
}

.productDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 758px;
  color: $dark-primary;
  background-color: $light-gray;


  button {
    margin-top: 50px !important;
  }

  h1 {
    font-weight: 400;
  }

  label {
    margin-top: 50px;
    font-family: "Clash Display", sans-serif;
    font-size: 18px;
    line-height: 150%;
  }

  .quantity {
    width: 150px;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px 0px;
    background-color: $white;
    color: $dark-primary;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    .col {
      cursor: pointer;

      &:not(:first-child) {
        padding: 0px;
      }
    }
  }
}
