.fa-2x {
  font-size: 2em;
}
.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded {
  overflow: visible;
}

.main-menu {
  padding: 20px 30px;

  background: #fff;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 250px;
  overflow: hidden;
  -webkit-transition: width 0.05s linear;
  transition: width 0.05s linear;
  z-index: 1000;

  .sidebar-links {
    margin-top: 50px;
    a {

      &:hover {
        background-color: $dark-primary !important;

        span {
          color: $white !important;
        }
      }
    }

    span{
      padding: 15px 10px !important;
    }
  }
}

.main-menu li {
  position: relative;
  display: block;
}

.main-menu li > a {
  margin: 20px 0px;
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: $dark-primary;
  text-decoration: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.main-menu .nav-text {
  position: relative;
  padding-left: 10px !important;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  line-height: 150%;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}
