.banner {
  display: flex;
  align-items: flex-end;
  min-height: 250px;
  padding-left: 80px;
  padding-bottom: 36px;
  background-image: url("../images/all-products-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: $white;
    font-weight: 400;
  }
}

.product {
  margin-top: 50px;

  .activeProduct {
    margin-bottom: 50px;
    transition: transform 0.3s ease-in-out;
    position: relative;

    h4{
        margin-top: 20px;
    }

    &:hover {
      transform: scale(1.1);
    }
    &:hover img {
      cursor: pointer;
      filter: brightness(50%);
    }

    &:hover::after {
      opacity: 1;
    }

    &:hover {
      transform: scale(1.1);
    }

    &::after {
      content: "See Details";
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(-50%, -50%);
      color: #fff;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
